<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="digital affidavit in KDFT" name="description" />
    <meta content="Frenz" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">

<th:block layout:fragment="headBlock"></th:block>

    <!-- Bootstrap Css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" id="bootstrap-style" />
    <!-- Icons Css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/icons.min.css}" />
    <!-- App Css-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/app.min.css}" id="app-style" />
</head>

<body data-sidebar="dark">

    <!-- Begin page -->
    <div id="layout-wrapper">

<th:block th:replace="layout/header :: headerPart"></th:block>

<th:block th:replace="layout/menu :: menuPart"></th:block>

    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

<th:block layout:fragment="mainContent"></th:block>
                
            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        © <script>document.write(new Date().getFullYear())</script> Frenz<span class="d-none d-sm-inline-block"> - Crafted with <i class="mdi mdi-heart text-danger"></i> by Codefactory.</span>
                    </div>
                </div>
            </div>
        </footer>

    </div>
    <!-- end main content-->

</div>
<!-- END layout-wrapper -->

<!-- Right Sidebar -->
<div class="right-bar">
    <div data-simplebar class="h-100">
        <div class="rightbar-title px-3 py-4">
            <a href="javascript:void(0);" class="right-bar-toggle float-right">
                <i class="mdi mdi-close noti-icon"></i>
            </a>
            <h5 class="m-0">Settings</h5>
        </div>

        <!-- Settings -->
        <hr class="mt-0" />
        <h6 class="text-center">Choose Layouts</h6>

        <div class="p-4">
            <div class="mb-2">
                <img th:src="@{/images/layouts/layout-1.jpg}" class="img-fluid img-thumbnail" alt="">
            </div>
            <div class="custom-control custom-switch mb-3">
                <input type="checkbox" class="custom-control-input theme-choice" id="light-mode-switch" checked />
                <label class="custom-control-label" for="light-mode-switch">Light Mode</label>
            </div>

            <div class="mb-2">
                <img th:src="@{/images/layouts/layout-2.jpg}" class="img-fluid img-thumbnail" alt="">
            </div>
            <div class="custom-control custom-switch mb-3">
                <input type="checkbox" class="custom-control-input theme-choice" id="dark-mode-switch" data-bsStyle="/css/bootstrap-dark.min.css" 
                    data-appStyle="/css/app-dark.min.css" />
                <label class="custom-control-label" for="dark-mode-switch">Dark Mode</label>
            </div>

            <div class="mb-2">
                <img th:src="@{/images/layouts/layout-3.jpg}" class="img-fluid img-thumbnail" alt="">
            </div>
            <div class="custom-control custom-switch mb-5">
                <input type="checkbox" class="custom-control-input theme-choice" id="rtl-mode-switch" data-appStyle="/css/app-rtl.min.css" />
                <label class="custom-control-label" for="rtl-mode-switch">RTL Mode</label>
            </div>

            <a href="https://1.envato.market/grNDB" class="btn btn-primary btn-block mt-3" target="_blank"><i class="mdi mdi-cart mr-1"></i> Purchase Now</a>

        </div>

    </div> <!-- end slimscroll-menu-->
</div>
<!-- /Right-bar -->

<!-- Right bar overlay-->
<div class="rightbar-overlay"></div>

<!-- JAVASCRIPT -->
<script th:src="@{/libs/jquery/jquery.min.js}"></script>
<script th:src="@{/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/libs/metismenu/metisMenu.min.js}"></script>
<script th:src="@{/libs/simplebar/simplebar.min.js}"></script>
<script th:src="@{/libs/node-waves/waves.min.js}"></script>
<script th:src="@{/js/common.utils.js}"></script>

<script>
jQuery(document).ready(function() {
    var token = "[[${session.token}]]";
    //console.log(token);
	//$.ajaxSetup({ headers: { "X-AUTH-TOKEN": token } });
} );
</script>

<th:block layout:fragment="endBlock"></th:block>

</body>
</html>