<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.study.mapper.HospitalTagMapper">

    <resultMap id="HospitalTagMap" type="HospitalTagVo">
        <result property="tagId" column="tag_id" />
        <result property="hospitalId" column="hospital_id" />
        <result property="hospitalName" column="hospital_name" />
        <result property="address1" column="address1" />
        <result property="tag" column="tag" />
        <result property="addedBy" column="added_by" />
        <result property="addedAt" column="added_at" />
        <result property="useFlag" column="use_fg"/>
    </resultMap>

    <!-- /* Basic Function */ -->
    <sql id="whereParamVo">
        <where>
            <if test="useFlag != null and useFlag != ''">
                AND tag.use_fg = #{useFlag}
            </if>
            <if test="tag != null and tag != ''">
                AND tag.tag = #{tag}
            </if>
        </where>
    </sql>

    <select id="selectList" parameterType="HospitalTagVo" resultType="HospitalTagVo">
    SELECT tag_id as tagId, hospital_id as hospitalId, tag 
      FROM tb_hospital_tag tag
        <include refid="whereParamVo"/>
    </select>

    <select id="count" parameterType="HospitalTagVo" resultType="int">
    SELECT count(1)
      FROM tb_hospital_tag tag
        <include refid="whereParamVo"/>
    </select>

    <select id="selectOne" parameterType="int" resultMap="HospitalTagMap" >
    SELECT tag.*
      FROM tb_hospital_tag tag
     WHERE tag.tag_id = #{tagId}
    </select>

    <insert id="insert" parameterType="HospitalTagVo" useGeneratedKeys="true" keyProperty="tagId">
    INSERT INTO tb_hospital_tag (
                hospital_id
                , tag
                , added_by
                , added_at
              ) values (
                #{hospitalId}
                , #{tag}
                , #{addedBy}
                , now()
              )
        <selectKey resultType="int" order="AFTER" keyProperty="tagId">
            SELECT LAST_INSERT_ID() as tagId
        </selectKey>
    </insert>

    <update id="update" parameterType="HospitalTagVo">
    UPDATE tb_hospital_tag SET
        <if test="hospitalId != null">
          ,hospital_id = #{hospitalId}
        </if>
        <if test="tag != null and tag != ''">
          ,tag = #{tag}
        </if>
     WHERE tag_id = #{tagId}
    </update>

    <sql id="whereParamMap">
        <where>
            <if test="useFlag != null and useFlag != ''">
                AND tag.use_fg = #{useFlag}
            </if>
            <if test="schtext != null and schtext != ''">
                AND ( tag.tag like concat('%', #{schtext}, '%')
                or tag.hospital_name like concat('%', #{schtext}, '%')
                )
            </if>
        </where>
    </sql>

    <select id="queryList" parameterType="java.util.Map" resultMap="HospitalTagMap" >

      SELECT tag.*
        FROM (
              SELECT *
                FROM (
                  SELECT hspt.* , tag.tag
                    FROM tb_hospital hspt 
                  LEFT OUTER JOIN 
                  (SELECT GROUP_CONCAT(tag) as tag , hospital_id FROM tb_hospital_tag WHERE use_fg = 'Y' GROUP BY hospital_id) tag
                  ON tag.hospital_id = hspt.hospital_id
                ) tag
          <include refid="whereParamMap"/>
          ORDER BY tag.hospital_id desc
            ) tag
          <if test="listCount != null and listCount != ''">
            LIMIT <if test="skipCount != null and skipCount != ''"> #{skipCount} , </if> #{listCount}
          </if>

    </select>

    <select id="queryCount" parameterType="java.util.Map" resultType="int">
    SELECT count(1)
      FROM tb_hospital_tag tag
        <include refid="whereParamMap"/>
    </select>

    <update id="deleteFlag" parameterType="int">
    UPDATE tb_hospital_tag SET
           use_fg = 'N'
     WHERE tag_id = #{tag_id}
    </update>

    <update id="deleteByHospital" parameterType="int">
    UPDATE tb_hospital_tag SET
           use_fg = 'N'
     WHERE hospital_id = #{hospital_id}
    </update>
    
</mapper>