<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.study.mapper.ResponseItemMapper">

    <!--
    <resultMap id="ResponseItemMap" type="ResponseItemVo">
        <result property="itemId" column="item_id" javaType="int" jdbcType="INTEGER"/>
        <result property="responseId" column="response_id" javaType="int" jdbcType="INTEGER"/>
        <result property="questionId" column="question_id" javaType="int" jdbcType="INTEGER"/>
        <result property="seq" column="seq" javaType="int" jdbcType="INTEGER"/>
        <result property="editedBy" column="edited_by" javaType="String" jdbcType="VARCHAR"/>
        <result property="editedIp" column="edited_ip" javaType="String" jdbcType="VARCHAR"/>
        <result property="editedAt" column="edited_at" javaType="java.time.Instant" jdbcType="DATE"/>
    </resultMap>
    -->
    <resultMap id="ResponseItemMap" type="ResponseItemVo">
        <result property="itemId" column="item_id" javaType="int" jdbcType="INTEGER"/>
        <result property="responseId" column="response_id" javaType="int" jdbcType="INTEGER"/>
        <result property="questionId" column="question_id" javaType="int" jdbcType="INTEGER"/>
        <result property="value" column="value" />
        <result property="factor" column="factor" javaType="int" jdbcType="INTEGER"/>
        <result property="editedBy" column="edited_by" javaType="String" jdbcType="VARCHAR"/>
        <result property="editedIp" column="edited_ip" javaType="String" jdbcType="VARCHAR"/>
        <result property="editedAt" column="edited_at" javaType="java.time.Instant" jdbcType="DATE"/>
    </resultMap>


    <!-- /* Basic Function */ -->
    <sql id="whereParamVo">
        <where>
            <if test="itemId != null and itemId != ''">
                AND srv.item_id = #{itemId}
            </if>
            <if test="responseId != null and responseId != ''">
                AND srv.response_id = #{responseId}
            </if>
            <if test="questionId != null and questionId != ''">
                AND srv.question_id = #{questionId}
            </if>
        </where>
    </sql>

    <select id="selectList" parameterType="ResponseItemVo" resultType="ResponseItemVo" >
        SELECT	item_id as itemId
                , response_id as responseId
                , question_id as questionId
                , value as value
                , factor as factor
                , edited_by as editedBy
                , edited_ip as editedIp
                , edited_at as editedAt
        FROM tb_survey_response_item srv
        <include refid="whereParamVo"/>
    </select>

    <select id="queryListByResponse" parameterType="java.util.Map" resultMap="com.example.study.mapper.QuestionMapper.QuestionMap" >
        SELECT qust.question_id
                , qust.question
                , qust.question_type
                , (SELECT code_title FROM tb_code code WHERE code.p_code = 'QUESTION_TYPE' AND code.code = qust.question_type) as question_type_val
                , qust.answers
                , qust.use_fg
                , qust.edited_at
                , qust.edited_ip
                , qust.edited_by
        FROM tb_question qust , tb_survey_response_item itm
        WHERE qust.question_id = itm.question_id
        AND itm.response_id = #{responseId}
        ORDER BY itm.seq ASC
    </select>

    <select id="count" parameterType="ResponseVo" resultType="int">
        SELECT count(1)
        FROM tb_survey_response_item srv
        <include refid="whereParamVo"/>
    </select>

    <select id="selectOne" parameterType="int" resultMap="ResponseItemMap" >
        SELECT srv.*
        FROM tb_survey_response_item srv
        WHERE srv.response_id = #{responseId}
    </select>

    <insert id="insert" parameterType="ResponseItemVo" useGeneratedKeys="true" keyProperty="itemId">
        INSERT INTO tb_survey_response_item (
                response_id
                , question_id
                , value
                , factor
                , edited_by
                , edited_ip
                , edited_at
            ) values (
               #{responseId}
               , #{questionId}
               , #{value}
               , #{factor}
               , #{editedBy}
               , #{editedIp}
               , now()
            )
            <selectKey resultType="int" order="AFTER" keyProperty="itemId">
                SELECT LAST_INSERT_ID() as itemId
            </selectKey>
    </insert>

    <update id="update" parameterType="ResponseItemVo">
         UPDATE tb_survey_response_item SET
           edited_at = now()
        <if test="responseId != null and responseId != ''">
            , srv.response_id = #{responseId}
        </if>
        <if test="questionId != null and questionId != ''">
            , srv.question_id = #{questionId}
        </if>
        <if test="value  != null and value  != ''">
            ,value  = #{value }
        </if>
        <if test="factor  != null and factor  != ''">
            ,factor  = #{factor }
        </if>
        <if test="editedIp != null and editedIp != ''">
            ,edited_ip = #{editedIp}
        </if>
        <if test="editedBy != null and editedBy != ''">
            ,edited_by = #{editedBy}
        </if>
        WHERE item_id = #{itemId}
    </update>

    <sql id="whereParamMap">
        <where>
            <if test="responseId != null and responseId != ''">
                AND srv.response_id = #{responseId}
            </if>
            <if test="questionId != null and questionId != ''">
                AND srv.question_id = #{questionId}
            </if>
            <if test="itemId != null and itemId != ''">
                AND srv.item_id = #{itemId}
            </if>
        </where>
    </sql>

    <select id="queryList" parameterType="java.util.Map" resultMap="ResponseItemMap" >
        SELECT item_id
               , response_id
               , question_id
               , value
               , factor
               , edited_by
               , edited_ip
               , edited_at
            FROM tb_survey_response_item srv
        <include refid="whereParamMap"/>
        ORDER BY srv.response_id DESC
        <if test="listCount != null and listCount != ''">
        LIMIT <if test="skipCount != null and skipCount != ''"> #{skipCount} , </if> #{listCount}
        </if>
    </select>

    <select id="queryCount" parameterType="java.util.Map" resultType="int">
        SELECT count(1)
         FROM tb_survey_response_item srv
        <include refid="whereParamMap"/>
    </select>

    <!-- /* Unused Function */ -->
    <delete id="deleteByResponse" parameterType="int">
        DELETE
        FROM tb_survey_response_item
        WHERE response_id = #{responseId}
    </delete>

</mapper>